/* Estilos para a Página de Login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.login-container h2 {
  margin-bottom: 1rem;
}

.login-container p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: #555;
}

/* Reutilizando o estilo do .upload-button para o botão de login */
.login-container .upload-button {
  background-color: #0078d4;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; /* Para o link 'a' */
  display: inline-block;
}

.login-container .upload-button:hover {
  background-color: #005a9e;
}